<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Futurama Etsy</title>
  <link rel="stylesheet" type="text/css" href="style/main.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

</head>

<body>


  <div id="etsy-images"></div>
  <img class="logoPic" src="logoPic.png" alt="Futurama Logo">
  <h1>Futurama Etsy Store</h1>

<div>
  <div class="dropper">
    <select name="sort" id="">
      <option value="low-price">Lowest Price</option>
      <option value="high-price">High Price</option>
      <option value="relevency">Relevency</option>
    </select>

  </div>

  <form>
    <input type="text" id="search" placeholder="Search...">
    <button type="submit"> Submit</button>
  </form>

  <div class="stylin">
  </div>

</div>

  <ul class="futurama-list"></ul>

  <script src="bower_components/jquery/dist/jquery.js"></script>

  <script type="text/template" data-template-name="futurama-item">

    <div class="container">
      <div class="grid">
        <div class="pics"><img src="<% pictures %>" title="<% description %>"></div>
        <div><a href="<% url %>"><p class="ellipsis"><% title %></p></a></div>
        <div><% price %> <% currency %></div>
        <div><% shop %></div>
      </div>
    </div>
  </script>


  <script src="data.js"></script>
  <script src="main.js"></script>
</body>

</html>
