@import 'bourbon/bourbon';
/* \$visual-grid: true; */
@import 'neat/neat';
$tablet: new-breakpoint(min-width 501px max-width 840px 12);
$mobile: new-breakpoint(max-width 500px);

$image-width: 100%;
$image-height: 100%;

body {
  background-color: #F5F5F1;
}
.logoPic {
  height: 200px;
  width: 200px;
  display: inline;
  vertical-align: middle;
}
h1 {
  font-size: 50px;
  text-align: center;
  display: inline;
  vertical-align: middle;
}
.stylin {
  @include outer-container(782px);
}

.container {
  @include span-columns(4);
  @include omega(3n);
  border: solid white 1px;
  background-color: white;
  padding-top: 35px;
  list-style-type: none;
  font-family: arial;
}
.grid {
  padding: 5px;
  box-shadow: 0 0 30px -10px #999;
}

.grid img {
  height: 172px;
  /* width: 100%; */
  display: inline;
  padding: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}
